@model ToDoApp.Models.TodoListModel

@{
    Layout = "_Layout";
}

<div class="custom-container">
    <div id="calendar" class="calendar">
        <div class="calendar-header">
            <h3 class="">Calendar</h3>

            <ul id="calendar-period" class="calendar-period">
                <li class="calendar-period__item">Day</li>
                <li class="calendar-period__item">Week</li>
                <li class="calendar-period__item activ">Month</li>
                <li class="calendar-period__item">Year</li>
            </ul>
        </div>

        <div class="calendar-body">
            <div class="manager-widget">
                <button class="btn btn-danger" onclick="open_task_modal()">
                    <i class="fa-solid fa-plus"></i>
                    Create task
                </button>

                <div class="task-calendar">
                    <table id="task-calendar-widget">
                        <thead>
                            <tr class="hn">
                                <td><b>‹</b>
                                <td colspan="5">
                                <td><b>›</b>
                            <tr class="dn"><td>Mon<td>Tue<td>Wed<td>Thu<td>Fri<td>Sat<td>Sun
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <h4>Lists</h4>

                <div class="tasks-list">
                    @{
                        if (Model.Lists.Count() == 0)
                        {
                            <h5>You dont't have any lists</h5>
                        }
                        else
                        {
                            foreach (var item in Model.Lists)
                            {
                                <div class="tasks-list__item" id="list_@item.Id">
                                    <div class="icon">
                                        @{
                                            if (item.Icon.Length != 0)
                                            {
                                                var base64 = Convert.ToBase64String(item.Icon);
                                                var imgSrc = String.Format("data:image/png;base64,{0}", base64);

                                                <img src="@imgSrc" />
                                            }
                                            else
                                            {
                                                <img src="~/img/default-list-icon.jpg" />
                                            }
                                        }

                                    </div>
                                    <div class="name">
                                        @item.Name
                                    </div>
                                    <div hidden class="list-description">
                                        @item.Description
                                    </div>
                                    <div hidden class="list-id">
                                        @item.Id
                                    </div>
                                    <div class="settings">
                                        <i class="fa-solid fa-gear" onclick="open_list_modal('list_@item.Id')"></i>
                                        <i class="fa-solid fa-trash-can" onclick="delete_list(@item.Id)"></i>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>

                <button class="btn btn-light" onclick="open_list_modal()">
                    <i class="fa-solid fa-plus"></i>
                    Create list
                </button>
            </div>

            <table id="calendar-widget">
                <thead>
                    <tr class="hn">
                        <td><b>‹</b>
                        <td colspan="5">
                        <td><b>›</b>
                    <tr class="dn"><td>Mon<td>Tue<td>Wed<td>Thu<td>Fri<td>Sat<td>Sun
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div id="dashboard" class="dashboard">
        <div class="dashboard-header">

        </div>
    </div>
</div>

@*Modals*@
<div id="modCreateListDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div id="dialogContent" class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create list</h4>

                <button class="close" data-dismiss="modal" aria-label="Close" onclick="clear_forms()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>

            <div class="modal-body">
                <form id="creat-list-form">
                    <div class="text-field">
                        <input class="text-field__input" id="create-list-id" type="number" placeholder="Id" name="Id" autocomplete="off" value="0" hidden />
                    </div>

                    <div class="text-field">
                        <input class="text-field__input" id="create-list-name" type="text" name="Name" placeholder="Name" autocomplete="off" />
                    </div>

                    <div class="text-field">
                        <textarea class="text-field__textarea" id="create-list-description" name="Description" placeholder="Description"></textarea>
                    </div>

                    <div class="text-field field-icon">
                        <input class="text-field__input input-icon" id="create-list-icon" type="file" name="Icon" accept=".jpg, .jpeg, .png" />
                        <img class="preview-icon-img" id="create-list-icon-img" />
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clear_forms()">Close</button>
                <button type="submit" class="btn btn-primary" id="create-list-button">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="modUpdateListDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div id="dialogContent" class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update list</h4>

                <button class="close" data-dismiss="modal" aria-label="Close" onclick="clear_forms()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>

            <div class="modal-body">
                <form id="update-list-form">
                    <div class="text-field">
                        <input class="text-field__input" id="update-list-id" type="number" placeholder="Id" name="Id" autocomplete="off" hidden />
                    </div>

                    <div class="text-field">
                        <input class="text-field__input" id="update-list-name" type="text" name="Name" placeholder="Name" autocomplete="off" />
                    </div>

                    <div class="text-field">
                        <textarea class="text-field__textarea" id="update-list-description" name="Description" placeholder="Description"></textarea>
                    </div>

                    <div class="text-field field-icon">
                        <input class="text-field__input input-icon" id="update-list-icon" type="file" name="Icon" accept=".jpg, .jpeg, .png" />
                        <img class="preview-icon-img" id="update-list-icon-img" />
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clear_forms()">Close</button>
                <button type="submit" class="btn btn-primary" id="update-list-button">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="modCreateTaskDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div id="dialogContent" class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create task</h4>

                <button class="close" data-dismiss="modal" aria-label="Close" onclick="clear_forms()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>

            <div class="modal-body">
                <form id="create-task-form">
                    <div class="text-field">
                        @{
                            var selectList = new SelectList(Model.Lists, "Id", "Name");
                        }
                        @Html.DropDownList("ListId", selectList as SelectList, new { @class = "text-field__dropdawn", @id = "create-task-listid" })

                        <input class="text-field__input-date" id="create-task-date" name="TaskDate" type="date" />
                    </div>

                    <input class="text-field__input" id="create-task-id" type="number" placeholder="Id" name="Id" autocomplete="off" hidden />

                    <div class="text-field">
                        <input class="text-field__input" id="create-task-topic" type="text" name="Topic" placeholder="Topic" autocomplete="off" />
                    </div>

                    <div class="text-field">
                        <textarea class="text-field__textarea" id="create-task-description" name="Description" placeholder="Description"></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clear_forms()">Close</button>
                <button type="submit" class="btn btn-primary" id="create-task-button">Save</button>
            </div>
        </div>
    </div>
</div>


